extends layout

block content
  p Write a sentance or two, and we'll Hipstafy it for you!
  form(action="/" method="post")
    input(type="textarea" name="unhiptext")
    input(type="submit" value="Hipstafy")
  p= hipstafied
