extends layout

block content
  div(class='one-third')
    h4 Write a sentance or two, and we'll Hipstafy it for you!
    form(action="/" method="post")
      textarea(name="unhiptext")
      input(type="submit" class="form-button" value="Hipstafy")
  div(class='one-third')
    p= hipstafied
